<section class="background">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="center center">
          <img src="../../../assets/download.png" />
          <br />
          <h3>OTP</h3>
          <mat-form-field appearance="outline">
            <mat-label>Enter Email</mat-label>
            <input matInput placeholder="Email" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <button>Submit</button>
        </div>
      </mat-card>
    </div>
  </section>
  